@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Location of the image */
  background-image: url(../media/homepage.png);
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when
  the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
  on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
  while the background image is loading */
  background-color: #464646;
  }

img{
    width: 100%; 
    height: fit-content; 
    object-fit: cover;
    object-position: 20% 10%; 
}

#container{
  position: absolute;
  left: 0px;
  top: 0px;
}

.text-4xl{
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
  color: white;
}

.text-6xl{
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
  color: white;
}